<% provide(:title, 'New Case') %>
<p id="notice"><%= notice %></p>



<h1>
  Case: <%= @case.number %> | <%= @case.name %>
</h1>


<table class="table">
	<tr>
    <th>Document List</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
	</tr>


	<% @case.documents.each do |document| %>
       <tr>
<td><%= document.name %></td>	
<td></td>
<td><%= link_to 'Show', [@case, document] %> |</td>
<td><%= link_to 'Edit', edit_case_document_path(@case, document) %> |</td>
<td><%= link_to 'Destroy', [@case, document], confirm: 'Are you sure?', method: :delete %></td>
	<% end %>
   </tr>
</table>

<%= link_to 'Edit', edit_case_path(@case) %> |
<%= link_to 'Back', cases_path %> |
<%= link_to 'Add Document', new_case_document_path(@case) %> 
